* {
	box-sizing: border-box;
	/* outline: solid 1px red; */
	
}

.search-container {
	margin-top: 40px;
	margin-left: 5%;
	margin-bottom: 20px;


}

#query, .search-button {
	display: inline-block;
}

.search-button, .previous, .next {
	width: 80px;
	border-radius: 2px;
	border: none;
}

.pagination {
	display: flex;
	width: 90%;
	margin: 0 auto;
}

.previous, .next {
	margin-top: 50px;
}

.previous {
	justify-content: flex-start;
}

.next {
	justify-content: flex-end;
}

#search-results {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

}

.single-result {
	width: 120px;
	height: 90px;
	margin-right: 50px;
	margin-bottom: 80px;
}

#lightbox {
	margin-left: 5%;
	margin-top: 50px;
}
